<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/01_Print_Pyramid%2C_Star%2C_and_Diamond_pattern_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Star Pattern 1: Equilateral triangle pattern with Star (asterisk)

In [1]:
print("Print equilateral triangle Pyramid using stars ")
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1  # decrementing m after each loop
    for j in range(0, i + 1):
        # printing full Triangle pyramid using stars
        print("* ", end=' ')
    print(" ")

Print equilateral triangle Pyramid using stars
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

Star Pattern 2: Half pyramid pattern with Star (asterisk)

In [2]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

*
* *
* * *
* * * *
* * * * *

In [3]:
rows = 5
for j in range(1, rows+1):
    print("* " * j)

*
* *
* * *
* * * *
* * * * *

Star Pattern 3: Left Half-Pyramid Pattern with Star (asterisk)

In [4]:
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

Star Pattern 4: Downward Half-Pyramid Pattern with Star (asterisk)

In [5]:
rows = 5
for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

Star Pattern 5: Print Right start Pattern with Star (asterisk)

In [6]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Star Pattern 6:  Downward star Pattern

In [7]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

Star Pattern 7: display two pyramids with stars in one pattern

In [8]:
rows = 6
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

Diamond Shaped Pattern using stars

In [9]:
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")
    
k = rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

Star Pattern 8: Display men’s pant style pattern with stars

In [10]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*

Combination of numbers and stars in a pattern

In [11]:
row = 4
for i in range(0, row):
    c = 1
    print(c, end=' ')
    for j in range(row - i - 1, 0, -1):
        print('*', end=' ')
        c = c + 1
        print(c, end=' ')
    print('\n')

1 * 2 * 3 * 4

1 * 2 * 3

1 * 2

1

Right-angled triangle pattern with alphabets/Characters

In [12]:
print("Print Alphabets and Letters pattern in Python ")
asciiNumber = 65
for i in range(0, 7):
    for j in range(0, i + 1):
        character = chr(asciiNumber)
        print(character, end=' ')
        asciiNumber += 1
    print(" ")

Print Alphabets and Letters pattern in Python
A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

Display letter of the word in Pattern

In [13]:
word = "Python"
x = ""
for i in word:
    x += i
    print(x)

P
Py
Pyt
Pyth
Pytho
Python

Equilateral triangle pattern with characters/alphabets

In [14]:
print("Print equilateral triangle Pyramid with characters ")
size = 7
asciiNumber = 65
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        character = chr(asciiNumber)
        print(character, end=' ')
        asciiNumber += 1
    print(" ")

Print equilateral triangle Pyramid with characters
            A
           B C
          D E F
         G H I J
        K L M N O
       P Q R S T U
      V W X Y Z [ \

even numbers

In [15]:
num = 4
counter=0
for x in range(0, num):
    for y in range(0, x+1):
        print(counter, end=" ")
        counter = 2**(x+1)
    print()

0
2 4
4 8 8
8 16 16 16