<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/1_Number_Python_Program_to_Print_Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Program to Print Pattern â€“ Print Number, Star, Pyramid Diamond and Letter Pattern

Numbers Pattern 1: using a for loop and range function

In [1]:
rows = 6
for num in range(rows):
    for i in range(num):
        print(num, end=" ")  # print number
    # line after each row to display pattern correctly
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [2]:
num = 6
for num in range(rows):
    for i in range(num):
        print(num, end=" ")  # print number
    # line after each row to display pattern correctly
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Number Pattern 2: Half pyramid pattern with numbers

In [9]:
rows = 5
for row in range(1, rows+1):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Numbers Pattern 3: Inverted Pyramid pattern with numbers

In [10]:
rows = 5
b = 0
for i in range(rows, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print('\r')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [13]:
rows = 5
b = 0
for i in range(rows, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print('\r')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

Numbers Pattern 4: Inverted Pyramid pattern with same number

In [14]:
rows = 5
num = rows
for i in range(rows, 0, -1):
    for j in range(0, i):
        print(num, end=' ')
    print("\r")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

Numbers Pattern 5: Display descending order of number

In [17]:
rows = 5
for i in range(rows, 0, -1):
    num = i
    for j in range(0, i):
        print(num, end=' ')
    print("\r")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

Number Pattern 6: Inverted half pyramid pattern with number

In [18]:
rows = 5
for i in range(rows, 0, -1):
    for j in range(0, i + 1):
        print(j, end=' ')
    print("\r")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

Display Reverse number pattern

In [19]:
rows = 6
for row in range(1, rows):
    for column in range(row, 0, -1):
        print(column, end=' ')
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [20]:
rows = 6
for row in range(1, rows):
    for column in range(row, 0, -1):
        print(row, end=' ')
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [22]:
rows = 6
for row in range(1, rows):
    for column in range(rows, 0, -1):
        print(row, end=' ')
    print("")

1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5

Number Pattern 8: Double the number

In [23]:
rows = 9
for i in range(1, rows):
    for j in range(-1+i, -1, -1):
        print(format(2**j, "4d"), end=' ')
    print("")

   1
   2    1
   4    2    1
   8    4    2    1
  16    8    4    2    1
  32   16    8    4    2    1
  64   32   16    8    4    2    1
 128   64   32   16    8    4    2    1

In [ ]:
Number Pattern 9

In [24]:
rows = 9
for i in range(1, rows):
    for i in range(0, i, 1):
        print(format(2 ** i, "4d"), end=' ')
    for i in range(-1 + i, -1, -1):
        print(format(2 ** i, "4d"), end=' ')
    print("")

   1
   1    2    1
   1    2    4    2    1
   1    2    4    8    4    2    1
   1    2    4    8   16    8    4    2    1
   1    2    4    8   16   32   16    8    4    2    1
   1    2    4    8   16   32   64   32   16    8    4    2    1
   1    2    4    8   16   32   64  128   64   32   16    8    4    2    1

Number Pattern 10: Display 1 to 10 number in Pattern

In [25]:
currentNumber = 1
stop = 2
rows = 3  # Rows you want in your pattern

for i in range(rows):
    for column in range(1, stop):
        print(currentNumber, end=' ')
        currentNumber += 1
    print("")
    stop += 2

1
2 3 4
5 6 7 8 9

In [26]:
currentNumber = 1
rows = 4  # Rows you want in your pattern
stop = 2
for i in range(rows):
    for column in range(1, stop):
        print(currentNumber, end=' ')
        currentNumber += 1
    print("")
    stop += 1

1
2 3
4 5 6
7 8 9 10

Numbers Pattern 11: Reverse number from 10 to 1

In [27]:
start = 1
stop = 2
currentNumber = stop
for row in range(2, 6):
    for col in range(start, stop):
        currentNumber -= 1
        print(currentNumber, end=' ')
    print("")
    start = stop
    stop += row
    currentNumber = stop

1
3 2
6 5 4
10 9 8 7

Numbers Pattern 12: Even number pattern

In [28]:
rows = 5
LastEvenNumber = 2 * rows
evenNumber = LastEvenNumber
for i in range(1, rows+1):
    evenNumber = LastEvenNumber
    for j in range(i):
        print(evenNumber, end=' ')
        evenNumber -= 2
    print("\r")

10
10 8
10 8 6
10 8 6 4
10 8 6 4 2

Numbers Pattern 13

In [30]:
rows = 6
for i in range(1, rows + 1):
    for j in range(1, i - 1):
        print(j, end=" ")
    for j in range(i - 1, 0, -1):
        print(j, end=" ")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

Numbers Pattern 14: Reverse number pattern

In [31]:
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Numbers Pattern 15

In [32]:
rows = 7
for i in range(0, rows):
    for j in range(0, i + 1):
        print(i * j, end='  ')
    print()

0
0  1
0  2  4
0  3  6  9
0  4  8  12  16
0  5  10  15  20  25
0  6  12  18  24  30  36

Numper pattern 16

In [33]:
rows = 5
for i in range(0, rows + 1, 1):
    for j in range(i + 1, rows + 1, 1):
        print(j, end=' ')
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

Number pattern 17: Display menâ€™s pant style pattern with numbers

In [39]:
rows = 6
for i in range(0, rows):
    for j in range(rows - 1, i, -1):
        print(j, '', end='')
    for l in range(i):
        print('    ', end='')
    for k in range(i + 1, rows):
        print(k, '', end='')
    print('\n')

5 4 3 2 1 1 2 3 4 5

5 4 3 2     2 3 4 5

5 4 3         3 4 5

5 4             4 5

5                 5

Number pattern 18: Alternate numbers pattern

In [40]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

Number pattern 19: Square Pattern with numbers

In [41]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

Number pattern 20: Right-angled triangle pattern with numbers

In [42]:
rows = 6
for row in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > row:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

Number pattern 21: Pascalâ€™s Triangle Pattern using numbers

In [43]:
def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()

def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

rows = 7
print_pascal_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1