<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Diamond_Number_Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
n = int(input("Enter The Rows: "))
for i in range(n):
  k = i + 1
  for j in range(n-i-1):
    print(" ",end=" ")
  for j in range(i+1):
    print(k,end=" ")
    k =k - 1
  print()

Enter The Rows: 5
        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [10]:
n = int(input("Enter The Rows: "))
for i in range(n):
  k = i + 1
  for j in range(n-i-1):
    print(" ",end="  ")
  for j in range(i+1):
    print(k,end=" ")
    k =k - 1
  print()

Enter The Rows: 5
            1
         2 1
      3 2 1
   4 3 2 1
5 4 3 2 1

In [11]:
n = int(input("Enter The Rows: "))
for i in range(n):
  k = i + 1
  for j in range(n-i-1):
    print(" ",end="  ")
  for j in range(i+1):
    print(k,end=" ")
    k =k - 1

  if i > 0:
      for j in range(i-1):
        print(" ",end=" ")
      for j in range(i+1):
        k = k + 1
        print(k,end=" ")
  print()

Enter The Rows: 5
            1
         2 1 1 2
      3 2 1   1 2 3
   4 3 2 1     1 2 3 4
5 4 3 2 1       1 2 3 4 5

In [30]:
n = int(input("Enter The Rows: "))
for i in range(n):
  k = i + 1
  for j in range(n-i-1):
    print(" ",end="  ")
  for j in range(i+1):
    print(k,end=" ")
    k =k - 1
  if i > 0:
      for j in range(i-1):
        print(" ",end=" ")
      for j in range(i+1):
        k = k + 1
        print(k,end=" ")
  print()

for i in range(1,n):
  k = n - i
  for j in range(i):
    print(" ",end="  ")
  for j in range(n-i):
    print(k,end=" ")
    k =k - 1
  if i<(n-1):
     for j in range(n-i-2):
       print(" ",end=" ")
     for j in range(n-i):
       k = k + 1
       print(k,end=" ")
  print()

Enter The Rows: 5
            1
         2 1 1 2
      3 2 1   1 2 3
   4 3 2 1     1 2 3 4
5 4 3 2 1       1 2 3 4 5
   4 3 2 1     1 2 3 4
      3 2 1   1 2 3
         2 1 1 2
            1