<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Floyd's_Triangle_%7C_Printing_Numbers_in_Right_Triangle_Shape_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input("Enter the Number of rows: "))
num = 1
for row in range(1, n+1):  
  for col in range(1, row + 1):
    print(num,end="") 
    num = num + 1
  print()

Enter the Number of rows: 4
1
23
456
78910

In [4]:
n = int(input("Enter the Number of rows: "))
num = 1
for row in range(1, n+1):  
  for col in range(1, row + 1):
    print(num,end=" ") 
    num = num + 1
  print()

Enter the Number of rows: 7
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28