<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Number_Pattern_%7C_Part_1_%7C_Python_Pattern_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(i+1):
    print(j+1,end=" ")
  print()

Enter The Number of Rows: 7
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [2]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(i,-1,-1):
    print(j+1,end=" ")
  print()

Enter The Number of Rows: 6
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [5]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(i+1):
    print(n-i,end=" ")
  print()

Enter The Number of Rows: 6
6
5 5
4 4 4
3 3 3 3
2 2 2 2 2
1 1 1 1 1 1

In [6]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(i+1):
    print(j-i,end=" ")
  print()

Enter The Number of Rows: 6
0
-1 0
-2 -1 0
-3 -2 -1 0
-4 -3 -2 -1 0
-5 -4 -3 -2 -1 0

In [7]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(i+1):
    print(n-j,end=" ")
  print()

Enter The Number of Rows: 6
6
6 5
6 5 4
6 5 4 3
6 5 4 3 2
6 5 4 3 2 1

In [8]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(i,-1,-1):
    print(n-j,end=" ")
  print()

Enter The Number of Rows: 7
7
6 7
5 6 7
4 5 6 7
3 4 5 6 7
2 3 4 5 6 7
1 2 3 4 5 6 7

In [4]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(i+1):
    print(i-1,end=" ")
  print()

Enter The Number of Rows: 6
-1
0 0
1 1 1
2 2 2 2
3 3 3 3 3
4 4 4 4 4 4

In [9]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(i+1):
    print(j+1,end=" ")
  print()

Enter The Number of Rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [10]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(n-i-1):
    print(" ",end=" ")
  for j in range(i+1):
    print(j+1,end=" ")
  print()

Enter The Number of Rows: 5
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [11]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(i,-1,-1):
    print(j+1,end=" ")
  print()

Enter The Number of Rows: 6
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [12]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(n-i-1):
    print(" ",end=" ")
  for j in range(i,-1,-1):
    print(j+1,end=" ")
  print()

Enter The Number of Rows: 7
            1
          2 1
        3 2 1
      4 3 2 1
    5 4 3 2 1
  6 5 4 3 2 1
7 6 5 4 3 2 1

In [13]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(i,-1,-1):
    print(i+1,end=" ")
  print()

Enter The Number of Rows: 6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [14]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(n-i-1):
    print(" ",end=" ")
  for j in range(i,-1,-1):
    print(i+1,end=" ")
  print()

Enter The Number of Rows: 7
            1
          2 2
        3 3 3
      4 4 4 4
    5 5 5 5 5
  6 6 6 6 6 6
7 7 7 7 7 7 7

In [16]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(i,-1,-1):
    print(n-i,end=" ")
  print()

Enter The Number of Rows: 9
9
8 8
7 7 7
6 6 6 6
5 5 5 5 5
4 4 4 4 4 4
3 3 3 3 3 3 3
2 2 2 2 2 2 2 2
1 1 1 1 1 1 1 1 1

In [17]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(i+1):
    print(n-j,end=" ")
  print()

Enter The Number of Rows: 7
7
7 6
7 6 5
7 6 5 4
7 6 5 4 3
7 6 5 4 3 2
7 6 5 4 3 2 1

In [18]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(n-i-1):
    print(" ",end=" ")
  for j in range(i,-1,-1):
    print(n-i,end=" ")
  print()

Enter The Number of Rows: 7
            7
          6 6
        5 5 5
      4 4 4 4
    3 3 3 3 3
  2 2 2 2 2 2
1 1 1 1 1 1 1

In [20]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(i+1):
    print(n-j,end=" ")
  print()

Enter The Number of Rows: 7
7
7 6
7 6 5
7 6 5 4
7 6 5 4 3
7 6 5 4 3 2
7 6 5 4 3 2 1

In [21]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(n-i-1):
    print(" ",end=" ")
  for j in range(i+1):
    print(n-j,end=" ")
  print()

Enter The Number of Rows: 7
            7
          7 6
        7 6 5
      7 6 5 4
    7 6 5 4 3
  7 6 5 4 3 2
7 6 5 4 3 2 1

In [23]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(n-i-1):
    print(" ",end=" ")
  for j in range(i,-1,-1):
    print(n-j,end=" ")
  print()

Enter The Number of Rows: 7
            7
          6 7
        5 6 7
      4 5 6 7
    3 4 5 6 7
  2 3 4 5 6 7
1 2 3 4 5 6 7

In [22]:
n = int(input("Enter The Number of Rows: "))
for i in range(n):
  for j in range(i,-1,-1):
    print(n-j,end=" ")
  print()

Enter The Number of Rows: 8
8
7 8
6 7 8
5 6 7 8
4 5 6 7 8
3 4 5 6 7 8
2 3 4 5 6 7 8
1 2 3 4 5 6 7 8