<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Printing_Stars_'%24'_in_Different_Shapes_%7C_Star_Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num=int(input("Enter no of rows:"))
for i in range(num):
  for j in range(num):
    print("$",end=" ")
  print()

Enter no of rows:7
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $

In [3]:
num=int(input("Enter no of rows:"))
for i in range(num):
  print("$"*num)

Enter no of rows:7
$$$$$$$
$$$$$$$
$$$$$$$
$$$$$$$
$$$$$$$
$$$$$$$
$$$$$$$

In [4]:
num=int(input("Enter no of rows:"))
for i in range(num):
  print("$ "*num)

Enter no of rows:7
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $

In [5]:
num=int(input("Enter no of rows:"))
for i in range(1,num+1):
  print("$ "*i)

Enter no of rows:7
$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $

In [6]:
num=int(input("Enter no of rows:"))
for i in range(1,num+1):
  print(" "*(num-i)+"$ "*i)

Enter no of rows:7
      $
     $ $
    $ $ $
   $ $ $ $
  $ $ $ $ $
 $ $ $ $ $ $
$ $ $ $ $ $ $

In [7]:
num=int(input("Enter no of rows:"))
for i in range(1,num+1):
  print(" "*(num-i)+"$"*i)

Enter no of rows:7
      $
     $$
    $$$
   $$$$
  $$$$$
 $$$$$$
$$$$$$$

In [8]:
num=int(input("Enter no of rows:"))
for i in range(1,num+1):
  print("  "*(num-i)+"$ "*i)

Enter no of rows:7
            $
          $ $
        $ $ $
      $ $ $ $
    $ $ $ $ $
  $ $ $ $ $ $
$ $ $ $ $ $ $

In [9]:
num=int(input("Enter no of rows:"))
for i in range(1,num+1):
  print(" "*(num-i)+"$ "*i)
for i in range(num,0,-1):
  print(" "*(num-i)+"$ "*i)

Enter no of rows:7
      $
     $ $
    $ $ $
   $ $ $ $
  $ $ $ $ $
 $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
 $ $ $ $ $ $
  $ $ $ $ $
   $ $ $ $
    $ $ $
     $ $
      $

In [10]:
num=int(input("Enter no of rows:"))
for i in range(1,num+1):
  print(" "*(num-i)+"$ "*i)
for i in range(num-1,0,-1):
  print(" "*(num-i)+"$ "*i)

Enter no of rows:7
      $
     $ $
    $ $ $
   $ $ $ $
  $ $ $ $ $
 $ $ $ $ $ $
$ $ $ $ $ $ $
 $ $ $ $ $ $
  $ $ $ $ $
   $ $ $ $
    $ $ $
     $ $
      $

In [12]:
num=int(input("Enter no of rows:"))
for i in range(1,num+1):
  print(" "*(num-i)+"$ "*i)

Enter no of rows:7
      $
     $ $
    $ $ $
   $ $ $ $
  $ $ $ $ $
 $ $ $ $ $ $
$ $ $ $ $ $ $

In [13]:
num=int(input("Enter no of rows:"))
for i in range(num-1,0,-1):
  print(" "*(num-i)+"$ "*i)

Enter no of rows:7
 $ $ $ $ $ $
  $ $ $ $ $
   $ $ $ $
    $ $ $
     $ $
      $

In [14]:
num=int(input("Enter no of rows:"))
for i in range(num-1,0,-1):
  print("$ "*i)

Enter no of rows:7
$ $ $ $ $ $
$ $ $ $ $
$ $ $ $
$ $ $
$ $
$

In [16]:
num=int(input("Enter no of rows:"))
for i in range(1,num+1):
  print("$ "*i)
for i in range(num,0,-1):
  print("$ "*i)

Enter no of rows:7
$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $
$ $ $ $
$ $ $
$ $
$

In [17]:
num=int(input("Enter no of rows:"))
for i in range(1,num+1):
  print("$ "*i)
for i in range(num-1,0,-1):
  print("$ "*i)

Enter no of rows:7
$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $
$ $ $ $
$ $ $
$ $
$

In [18]:
num=int(input("Enter no of rows:"))
for i in range(1,num+1):
  print("  "*(num-i)+"$ "*i)
for i in range(num-1,0,-1):
  print("  "*(num-i)+"$ "*i)

Enter no of rows:7
            $
          $ $
        $ $ $
      $ $ $ $
    $ $ $ $ $
  $ $ $ $ $ $
$ $ $ $ $ $ $
  $ $ $ $ $ $
    $ $ $ $ $
      $ $ $ $
        $ $ $
          $ $
            $