<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Printing_Numbers_in_Right_Triangle_Shape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
n = int(input("Enter The Number: "))
for row in range(n,0,-1):
  for col in range(1,row+1):
    print(col,end="")
  print()

Enter The Number: 7
1234567
123456
12345
1234
123
12
1

In [16]:
n = int(input("Enter The Number: "))
for row in range(n,0,-1):
  for col in range(1,row+1):
    print(row,end="")
  print()

Enter The Number: 7
7777777
666666
55555
4444
333
22
1

In [1]:
for i in '54321':
	for j in range(int(i)):
		print(i,end=" ")
	print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [2]:
n=5
for i in range(n):
  for j in range(1,n+1-i):
   print(j,end="")
  print()

12345
1234
123
12
1

In [9]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(n,end="")
    print(end=" ")

5 55 555 5555 55555

In [12]:
a=''

b=0

for i in range(6,0,-1):

    a='t'*i

    print(' '*b,a)

    b+=1

 tttttt
  ttttt
   tttt
    ttt
     tt
      t

In [13]:
a=''

for i in range(1,6):

    a+=str(i)

    print(a[::-1])

1
21
321
4321
54321

In [14]:
for i in range(1,6):

    for j in range(1,i+1):

        print(i,end='')

    print('')

for i in range(4,0,-1):

    for j in range(1,i+1):

        print(i, end='')

    print('')

1
22
333
4444
55555
4444
333
22
1