<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Printing_Stars_in_Hollow_Equilateral_Triangle_Shape2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for row in range(1,5):
  for col in range(1,8):
    if row == 4 or row+col == 5 or col-row == 3:
      print("*",end="")
    else:
      print(end=" ")
  print()

   *
  * *
 *   *
*******

In [3]:
n = int(input("Enter The Number: "))
for row in range(1,n+1):
  for col in range(1,2*n):
    if row == n or row+col == n+1 or col-row == n-1:
      print("*",end="")
    else:
      print(end=" ")
  print()

Enter The Number: 7
      *
     * *
    *   *
   *     *
  *       *
 *         *
*************

In [7]:
n = int(input("Enter The Number: "))
k = 2
for row in range(1,n+1):
  for col in range(1,2*n):
    if row+col == n+1 or col-row == n-1:
      print("*",end="")
    elif row == n and col != k:
      print("*",end="")
      k = k + 2
    else:
      print(end=" ")
  print()

Enter The Number: 8
       *
      * *
     *   *
    *     *
   *       *
  *         *
 *           *
* * * * * * * *

In [5]:
n=int (input("enter the number of row :"))
for row in range (1,n+1):

  for col in range (1,2*n):

    if (row==n or row+col==n+1 or col-row==n-1):

      print("*",end="") 

    else:

      print(end="")  

  print()

enter the number of row :7
*
**
**
**
**
**
*************

In [6]:
for row in range(1,5):
    for col in range(1,8):
        if (row==4 or row+col==5 or col-row==3):
            print("*",end="")
        else:
            print(" ",end="")
    print()

   *
  * *
 *   *
*******