<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Printing_Stars_in_N_Shape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for row in range(6):
    for col in range(6):
        if (col==0 or col==5) or (row==col):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*    *
**   *
* *  *
*  * *
*   **
*    *

In [4]:
for row in range(6):
    for col in range(6):
        if col == 0 or col == 5 or (row == col and (col > 0 and col < 5)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*    *
**   *
* *  *
*  * *
*   **
*    *

In [3]:
n = int(input("rows:"))
for i in range(n):
  for j in range(n):
    if j==0 or j==(n-1) or i==j:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

rows:8
*             *
* *           *
*   *         *
*     *       *
*       *     *
*         *   *
*           * *
*             *