<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Printing_Numbers_in_Square_Shape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
num = int(input("Enter The Row :"))
n_list = [[0 for x in range(num)]for y in range(num)]
n=1
low =0
high = num-1
count = int((num+1)/2)
for i in range(count):
  for j in range(low, high + 1):
    n_list[i][j] = n
    n=n+1

  for j in range(low+1,high+1):
    n_list[j][high] = n
    n=n+1

  for j in range(high-1,low-1,-1):
    n_list[high][j] = n
    n=n+1

  for j in range(high-1,low,-1):
    n_list[j][low] = n
    n=n+1
  low = low+1
  high=high-1


for i in range(num):
  for j in range(num):
    print(n_list[i][j],end="\t")
  print()

Enter The Row :5
1	2	3	4	5
16	17	18	19	6
15	24	25	20	7
14	23	22	21	8
13	12	11	10	9

In [1]:
num = int(input("Enter The Row :"))
matrix = [[" " for i in range(num)]for j in range(num)]
n=num*num
low =0
top = num-1
count = int((num+1)/2)
for i in range(count):
  for j in range(top,low-1,-1):
    matrix[top][j] = n
    n=n-1

  for j in range(top-1,low-1,-1):
    matrix[j][low] = n
    n=n-1

  for j in range(low+1,top+1):
    matrix[low][j] = n
    n=n-1

  for j in range(low+1,top):
    matrix[j][top] = n
    n=n-1
  low = low+1
  top=top-1


for i in range(num):
  for j in range(num):
    print(matrix[i][j],end="\t")
  print()

:5
17	16	15	14	13
18	5	4	3	12
19	6	1	2	11
20	7	8	9	10
21	22	23	24	25

In [2]:
n = int(input("enter your number: "))

num = n

low = 0

high = 2*n-2

n_list = [[0 for x in range(2*n-1)] for y in range(2*n-1)]

for i in range(n):

    for j in range(low,high+1):

        n_list[i][j] = num

    for j in range(low+1,high+1):

        n_list[j][high] = num

    for j in range(high-1,low-1,-1):

        n_list[high][j] = num

    for j in range(high-1,low,-1):

        n_list[j][low] = num

    num -= 1

    low +=1

    high -=1



for i in range(2*n-1):

    for j in range(2*n-1):

        print(n_list[i][j], end="  ")

    print()

enter your number: 4
4  4  4  4  4  4  4
4  3  3  3  3  3  4
4  3  2  2  2  3  4
4  3  2  1  2  3  4
4  3  2  2  2  3  4
4  3  3  3  3  3  4
4  4  4  4  4  4  4

In [3]:
matrix = [[" " for x in range(4)] for y in range(4)]
n=1
low=0
high=3
while low<high:
  for j in range(4):
    matrix[low][j]=n
    n=n+1
  for j in range(4):
    matrix[high][j] = n
    n=n+1
  low=low+1
  high=high-1

for i in range(4):
  for j in range(4):
    print(matrix[i][j], end="\t")
  print()

1	2	3	4
9	10	11	12
13	14	15	16
5	6	7	8

In [4]:
num = int(input("enter the number of rows:"))
n = 1
matrix = [[0 for x in range(num)] for y in range(num)]

for i in range(num):
  for j in range(num):
    matrix[i][j]=n
    n=n+1
  
i=0
j = num
while i<j:
    matrix[i][i], matrix[j - 1][j - 1] = matrix[j - 1][j - 1],matrix[i][i]
 
    matrix[i][j - 1],matrix[j - 1][i] = matrix[j - 1][i],matrix[i][j - 1]
    i=i+1
    j=j-1

for i in range(num):
  for j in range(num):
    print(matrix[i][j],end="\t")
  print()

enter the number of rows:5
25	2	3	4	21
6	19	8	17	10
11	12	13	14	15
16	9	18	7	20
5	22	23	24	1