<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Print_Numbers_in_Triangle_Shape_%7C_Pattern_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
num = int(input("Number of rows: "))
for i in range(num):
  k = 111
  for j in range(i+1):
    print(k,end="")
    k = k + 111
  print()

Number of rows: 5
111
111 222
111 222 333
111 222 333 444
111 222 333 444 555

In [6]:
num = int(input("Number of rows: "))
for i in range(num):
  k = 111
  for j in range(i+1):
    print(format(k,"<4"),end="")
    k = k + 111
  print()

Number of rows: 5
111
111 222
111 222 333
111 222 333 444
111 222 333 444 555

In [7]:
num = int(input("Number of rows: "))
for i in range(num):
  k = 111
  for j in range(i+1):
    print(k,end=" ")
    k = k + 111
  print()

Number of rows: 7
111
111 222
111 222 333
111 222 333 444
111 222 333 444 555
111 222 333 444 555 666
111 222 333 444 555 666 777

In [9]:
num = int(input("Number of rows: "))
k = 111
for i in range(num):
  for j in range(i+1):
    print(format(k,"<5"),end="")
    k = k + 111
  print()

Number of rows: 5
111
222  333
444  555  666
777  888  999  1110
1221 1332 1443 1554 1665

In [10]:
num = int(input("Number of rows: "))
k = 111
for i in range(num):
  for j in range(i+1):
    print(k,end=" ")
    k = k + 111
  print()

Number of rows: 7
111
222 333
444 555 666
777 888 999 1110
1221 1332 1443 1554 1665
1776 1887 1998 2109 2220 2331
2442 2553 2664 2775 2886 2997 3108

In [11]:
num = int(input("Number of rows: "))
for i in range(num):
  k = 111
  for j in range(num-i-1):
    print(format(" ","<5"),end="")
  for j in range(i+1):
    print(format(k,"<5"),end="") 
    k = k + 111
  print()

Number of rows: 5
                    111
               111  222
          111  222  333
     111  222  333  444
111  222  333  444  555

In [14]:
num = int(input("Number of rows: "))
for i in range(num):
  k = 111
  for j in range(num-i-1):
    print(format(" ","<5"),end="")
  k = k * (i + 1)
  for j in range(i+1):
    print(format(k,"<5"),end="") 
    k = k - 111
  print()

Number of rows: 5
                    111
               222  111
          333  222  111
     444  333  222  111
555  444  333  222  111

In [15]:
num = int(input("Number of rows: "))
for i in range(num):
  k = 111
  for j in range(num-i-1):
    print(format(" ","<5"),end="")
  k = k * (i + 1)
  for j in range(i+1):
    print(format(k,"<5"),end="") 
    k = k + 111
  print()

Number of rows: 6
                         111
                    222  333
               333  444  555
          444  555  666  777
     555  666  777  888  999
666  777  888  999  1110 1221

In [18]:
num = int(input("Number of rows: "))
for i in range(num):
  k = 111
  for j in range(num-i-1):
    print(format(" ","<5"),end="")
 # k = k * (i + 1)
  for j in range(i+1):
    print(format(k,"<5"),end="") 
    k = k + k
  print()

Number of rows: 5
                    111
               111  222
          111  222  444
     111  222  444  888
111  222  444  888  1776