<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Printing_Numbers_in_Right_Triangle_Shape_2_%7C_Column_wise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n=int(input("Enter no of rows:"))
for i in range(n):
  for j in range(i+1):
    x = 0
    for k in range(j):
      x = x + n - k
    if j % 2 == 0:
      print(x+i-j+1,end=" ")
    else:
      print(x+n-i,end=" ")
  print()

Enter no of rows:12
1
2 23
3 22 24
4 21 25 42
5 20 26 41 43
6 19 27 40 44 57
7 18 28 39 45 56 58
8 17 29 38 46 55 59 68
9 16 30 37 47 54 60 67 69
10 15 31 36 48 53 61 66 70 75
11 14 32 35 49 52 62 65 71 74 76
12 13 33 34 50 51 63 64 72 73 77 78

In [3]:
n = int(input("rows:"))
for i in range(n):
    k=i+1
    for j in range(n-i):
        print(j+k,end="")
    print()

rows:9
123456789
23456789
3456789
456789
56789
6789
789
89
9