<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Printing_Strings_in_Right_Triangle_Shape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
string = input("Enter the string: ")
length = len(string)
for row in range(length):
  for col in range(row+1):
    print(string[col],end="")
  print()

Enter the string: python
p
py
pyt
pyth
pytho
python

In [1]:
text = "python"
for index in range(len(text)): 
    print(*text[:index + 1])

p
p y
p y t
p y t h
p y t h o
p y t h o n

In [3]:
string=input("enter string: ")

length=len(string)

for i in range(1,length+1):

    print(string[0:i])

enter string: python
p
py
pyt
pyth
pytho
python

In [4]:
str = "PYTHON"
for i, char in enumerate(str):
    print(str[0:i+1])

P
PY
PYT
PYTH
PYTHO
PYTHON

In [5]:
def fun(List):
    for i in range(len(List)):
        print (List[0 : i + 1])

List = "Hello"
fun(List)

H
He
Hel
Hell
Hello

In [9]:
String = input()
for i in range(len(string)): print(string[:i+1])

python
p
py
pyt
pyth
pytho
python

In [10]:
string='Python'

i=0

while i<2:

    print(string[i])

    break

i=i+1

while i<3:

    print(string[i:i+2])

    break

while i<6:

    print(string[i+2:])

    break

P
yt
hon

In [11]:
string = input("Enter your name")

a = 1
for i in string:
    print(string[0:a],end=" ")
    a+=1
    print()

Enter your nameBangladesh
B
Ba
Ban
Bang
Bangl
Bangla
Banglad
Banglade
Banglades
Bangladesh

In [12]:
string = input("enter the string:-")


print("\n".join([string[:i+1] for i in range(len(string))]))

enter the string:-bangla
b
ba
ban
bang
bangl
bangla