<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Print_Stars_in_Hollow_Diamond_Shape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n = int(input("Enter The Row: "))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print("*",end=" ")
  print()

Enter The Row: 5
* * * * *
* * * *
* * *
* *
*

In [4]:
n = int(input("Enter The Row: "))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print("*",end=" ")
  for j in range(2*(n-i)):
    print(" ",end=" ")
  for i in range(i,0,-1):
    print("*",end=" ")
  print()

Enter The Row: 5
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [5]:
n = int(input("Enter The Row: "))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print("*",end=" ")
  for j in range(2*(n-i)):
    print(" ",end=" ")
  for i in range(i,0,-1):
    print("*",end=" ")
  print()

for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  for j in range(2*(n-i-1)):
    print(" ",end=" ")
  for i in range(i+1):
    print("*",end=" ")
  print()

Enter The Row: 5
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

In [6]:
n = int(input("Enter The Row: "))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print("*",end=" ")
  for j in range(2*(n-i)):
    print(" ",end=" ")
  for i in range(i,0,-1):
    print("*",end=" ")
  print()

for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  for j in range(2*(n-i-1)):
    print(" ",end=" ")
  for i in range(i+1):
    print("*",end=" ")
  print()

Enter The Row: 10
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * *     * * * * * * * * *
* * * * * * * *         * * * * * * * *
* * * * * * *             * * * * * * *
* * * * * *                 * * * * * *
* * * * *                     * * * * *
* * * *                         * * * *
* * *                             * * *
* *                                 * *
*                                     *
*                                     *
* *                                 * *
* * *                             * * *
* * * *                         * * * *
* * * * *                     * * * * *
* * * * * *                 * * * * * *
* * * * * * *             * * * * * * *
* * * * * * * *         * * * * * * * *
* * * * * * * * *     * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *