<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Printing_Numbers_in_Right_Triangle_Shape_%7C_Column_wise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
num=int(input("Enter no of rows:"))
for row in range(num):
    val = row + 1
    for col in range(row+1):
      print(val,end=" ")
    print()

Enter no of rows:6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [16]:
num=int(input("Enter no of rows:"))
for row in range(num):
    val = row + 1
    dec = num - 1
    for col in range(row+1):
      print(val,end=" ")
      val = val + dec
      dec = dec - 1
    print()

Enter no of rows:12
1
2 13
3 14 24
4 15 25 34
5 16 26 35 43
6 17 27 36 44 51
7 18 28 37 45 52 58
8 19 29 38 46 53 59 64
9 20 30 39 47 54 60 65 69
10 21 31 40 48 55 61 66 70 73
11 22 32 41 49 56 62 67 71 74 76
12 23 33 42 50 57 63 68 72 75 77 78

In [17]:
num=int(input("Enter no of rows:"))
for row in range(num):
    val = row + 1
    dec = num - 1
    for col in range(row+1):
      print(format(val,"<4"),end=" ")
      val = val + dec
      dec = dec - 1
    print()

Enter no of rows:14
1
2    15
3    16   28
4    17   29   40
5    18   30   41   51
6    19   31   42   52   61
7    20   32   43   53   62   70
8    21   33   44   54   63   71   78
9    22   34   45   55   64   72   79   85
10   23   35   46   56   65   73   80   86   91
11   24   36   47   57   66   74   81   87   92   96
12   25   37   48   58   67   75   82   88   93   97   100
13   26   38   49   59   68   76   83   89   94   98   101  103
14   27   39   50   60   69   77   84   90   95   99   102  104  105

In [8]:
n=int(input("enter no of rows:"))
for row in range(1,n+1):
   deci=n-1
   for col in range(1,row+1):
      print(row,end=' ')
      row+= deci
      dec-=1
   print()

enter no of rows:15
1
2 16
3 17 30
4 18 31 43
5 19 32 44 55
6 20 33 45 56 66
7 21 34 46 57 67 76
8 22 35 47 58 68 77 85
9 23 36 48 59 69 78 86 93
10 24 37 49 60 70 79 87 94 100
11 25 38 50 61 71 80 88 95 101 106
12 26 39 51 62 72 81 89 96 102 107 111
13 27 40 52 63 73 82 90 97 103 108 112 115
14 28 41 53 64 74 83 91 98 104 109 113 116 118
15 29 42 54 65 75 84 92 99 105 110 114 117 119 120

In [12]:
n=int(input('row:'))
k=1 
for i in range(n):
        for j in range(n):
                print(k, end=' ') 
                k=k+1
        print()

#You can format the output using format()

n=int(input('row:'))
k=1 
for i in range(n):
  for j in range (n):
    print (format(k,"3"),end=' ')
    k=k+1
  print()

row:5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25
row:6
  1   2   3   4   5   6
  7   8   9  10  11  12
 13  14  15  16  17  18
 19  20  21  22  23  24
 25  26  27  28  29  30
 31  32  33  34  35  36