<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Printing_Stars_'_'_in_Right_Angle_Triangle_Shape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n = 5
for i in reversed(range(n)):
    print("*"*(i+1))

*****
****
***
**
*

In [3]:
num=int(input("Enter Rows"))
for i in range(0,num):
    print('* '*(num-i))

Enter Rows5
* * * * *
* * * *
* * *
* *
*

In [4]:
row= int(input("Enter number of row: "))
k=row+1
for i in range(1,row+1): 
  for j in range(1,k):
      print("*", end="")
  k=k-1
  print()

Enter number of row: 7
*******
******
*****
****
***
**
*

In [7]:
num=int(input("enter rows"))

for i in range(num):
    print(" "*(i)+"*"*(num-i))

enter rows6
******
 *****
  ****
   ***
    **
     *