<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Printing_Numbers_in_Triangle_Shape_%7C_Column_wise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
n = 5
k = 15
for row in range(n):
  val = k - row 
  dec = n - 1
  for col in range(row+1):
    print(val,end=" ")
    val = val - dec
    dec = dec - 1
  print()

15
14 10
13 9 6
12 8 5 3
11 7 4 2 1

In [11]:
def num(n1):
  if n1 == 1:
    return 1
  else:
    return n1 + num(n1 - 1) 

n = int(input("Enter The Row: "))
k = num(n)
for row in range(n):
  val = k - row 
  dec = n - 1
  for col in range(row+1):
    print(val,end=" ")
    val = val - dec
    dec = dec - 1
  print()

Enter The Row: 7
28
27 21
26 20 15
25 19 14 10
24 18 13 9 6
23 17 12 8 5 3
22 16 11 7 4 2 1

In [12]:
def num(n1):
  if n1 == 1:
    return 1
  else:
    return n1 + num(n1 - 1) 

n = int(input("Enter The Row: "))
k = num(n)
for row in range(n):
  val = k - row 
  dec = n - 1
  for col in range(row+1):
    print(format(val,"<3"),end="")
    val = val - dec
    dec = dec - 1
  print()

Enter The Row: 10
55
54 45
53 44 36
52 43 35 28
51 42 34 27 21
50 41 33 26 20 15
49 40 32 25 19 14 10
48 39 31 24 18 13 9  6
47 38 30 23 17 12 8  5  3
46 37 29 22 16 11 7  4  2  1

In [13]:
n = int(input("Enter the number of rows: "))
for row in range(n):
    val = row +1
    dec = n - 1
    for j in range(row+1):
        print(val,end=" ")
        val += dec+n+1
    print()

Enter the number of rows: 7
1
2 16
3 17 31
4 18 32 46
5 19 33 47 61
6 20 34 48 62 76
7 21 35 49 63 77 91

In [14]:
n = int(input("Enter the number of rows: "))
for row in range(n):
    val = row +1
    dec = n - 1
    for j in range(row+1):
        print(val,end=" ")
        val = val + row
        dec = dec - 1
    print()

Enter the number of rows: 6
1
2 3
3 5 7
4 7 10 13
5 9 13 17 21
6 11 16 21 26 31