<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Python_Pattern_Programs_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Printing Stars '*' in Reverse Pyramid Shape

num = int(input("Enter the number of rows: "))
for i in range(num,0,-1):
  for j in range(0,num-i):
    print(end=" ")
  for i in range(0,i):
    print("*",end=" ")
  print()

Enter the number of rows: 6
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [4]:
num = int(input("Enter the number of rows: "))
for i in range(num,0,-1):
  for j in range(0,num-i):
    print(end="")
  for i in range(0,i):
    print("*",end=" ")
  print()

Enter the number of rows: 6
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
num = int(input("Enter the number of rows: "))
for i in range(num,0,-1):
  for j in range(0,num-i):
    print(end=" ")
  for i in range(0,i):
    print("*",end="")
  print()

Enter the number of rows: 6
******
 *****
  ****
   ***
    **
     *

In [6]:
n=int(input())

for i in range(n):

    for j in range(i):

        print(end=" ")

    for j in range(0,n-i):

        print("*",end=" ")

    print()

6
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [11]:
for i in range(n):

    print(" "*i,"* "*(n-i))

 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [17]:
for i in range(n):

    print(""*i,"* "*(n-i))

 * * * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

In [26]:
n = 10
for i in range(n):

    print(" "*i,"*"*(n-i))

 **********
  *********
   ********
    *******
     ******
      *****
       ****
        ***
         **
          *