<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Pattern/blob/master/Python_Pattern_Programs_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Printing Stars '*' in Right Angle Triangle Shape

num = int(input("Enter the number of rows"))
for i in range(1, num+1):
  for j in range(1, i+1):
    print("*",end="")
  print()

Enter the number of rows5
*
**
***
****
*****

In [ ]:
num = int(input("Enter the number of rows "))
for i in range(1, num+1):
  for j in range(1, i+1):
    print("a",end="")
  print()

Enter the number of rows 7
a
aa
aaa
aaaa
aaaaa
aaaaaa
aaaaaaa

In [ ]:
num = int(input("Enter the number of rows "))
k = 1
for i in range(1, num+1):
  for j in range(1, k+1):
    print("s",end="")
    k = k + 2
  print()

Enter the number of rows 7
s
sss
sssssssss
sssssssssssssssssssssssssss
sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss

In [ ]:
#Printing Stars '*' in Pyramid Shape

num = int(input("Enter the number of rows "))
for i in range(0, num):
  for j in range(0, num-i-1):
    print(end=" ")
  for j in range(0, i+1): 
    print("*",end=" ")
  print()

Enter the number of rows 7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [ ]:
num = int(input("Enter the number of rows "))
for i in range(0, num):
  for j in range(0, num-i-1):
    print(end="") #space change pattern
  for j in range(0, i+1): 
    print("*",end=" ")
  print()

Enter the number of rows 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
num = int(input("Enter the number of rows "))
for i in range(0, num):
  for j in range(0, num-i-1):
    print(end=" ")
  for j in range(0, i+1): 
    print("*",end="") #space change pattern
  print()

Enter the number of rows 7
      *
     **
    ***
   ****
  *****
 ******
*******

In [ ]:
raw=int(input("enter the number of raw "))
s=raw-1
for num in range(1,raw):
 print(" "*s,"* "*num)
 s-=1

enter the number of raw 6
      *
     * *
    * * *
   * * * *
  * * * * *

In [ ]:
raw=int(input("enter number of raw "))
num=1
s=raw-1
while num<raw:

  print( " "*s,"* "*num)

  num+=1
  s-=1

enter number of raw 5
     *
    * *
   * * *
  * * * *

In [ ]:
n = int(input("number: "))
for i in range(n):
    print(" "*(n-1-i)+"* "*(i+1))

number: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [2]:
n = int(input("number: "))
for i in range(n):
    print(" "*(n-1-i)+"* "*(i+1))

number: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n=int(input("enter the number of rows:"))

for i in range(n+1):

  print(" "*(n-i)+"* "*(i))

enter the number of rows:6

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [ ]:
n = int(input("number of rows:"))
num=1
for i in range(n):
  for j in range(n-i-1):
    print("_",end="")
  for j in range(i+1):
    print(num,end="_")
    num=num+1
  print()

number of rows:5
____1_
___2_3_
__4_5_6_
_7_8_9_10_
11_12_13_14_15_

In [ ]:
rows = int(input("number of rows:"))
def pyramid(rows):

    for i in range(rows):

        print(' '*(rows-i-1)+("*"+' ')*(i+1))

number of rows:4